<nav>
        <div class="left-flex noto-sans-body">
          <div id="logo" class="mozilla-headline-Title"><a href="/">GhibliVerse</a></div>
          <div class="nav-link"><a href="/explore" style="text-decoration: none;">Explore</a></div>
          <div class="nav-link"><a href="/favorite" style="text-decoration: none;">Favorites</a></div>
        </div>

        <div class="right-flex">
          <button class="nav-btn">Sign In</button>
          <button class="nav-btn" id="theme-switch">Dark Mode</button>
        </div>
      </nav>