<!DOCTYPE html>
<html lang="en">
  <head>
    <title>GhibliVerse</title>
    <link rel="stylesheet" href="/style/styles.css" />
    <script type="text/javascript" src="/js/darkmode.js" defer></script>
  </head>
  <body>
    <div id="root">
      <!-- Update Banner -->
      <section id="updateNav">
        <button id="updateNav-button">NEW</button>
        <p class="noto-sans-body">Create Your Own Ghibli Collection.</p>
      </section>

      <%- include('partials/navbar') %>

      <!-- Hero Section -->
      <div id="Hero-section" class="noto-sans-body">
        <h1 class="mozilla-headline-Title">GhibliVerse</h1>
        <h2>A Studio Ghibli Fan Portal</h2>
        <p>
          Dive straight into the GhibliVerse, make yourself connected to the
          community.
        </p>
        <button><a href="/explore" style="text-decoration: none; color: white;">Explore</a> </button>
      </div>
    </div>
  </body>
</html>
